 body {
    font-family: "Inter", sans-serif;
}

.signup-card {
    width: 350px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
}

#errorBox {
    display: none;
    background: #FFCCCC;
    color: #660000;
    border-left: 4px solid red;
    padding: 10px;
    border-radius: 5px;
}


.card {
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(18px);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.15);
}


.is-invalid {
  border: 2px solid #ff4d4d !important;
  background-color: #2a0000 !important;
  color: #fff !important;
}

small {
  color: #ff4d4d;
  font-size: 13px;
  padding-left: 2px;
  margin-top: 3px;
  display: block;
}


.shake {
  animation: shake 0.2s linear 2;
}

@keyframes shake {
  0% { transform: translateX(0px); }
  25% { transform: translateX(-3px); }
  50% { transform: translateX(3px); }
  75% { transform: translateX(-3px); }
  100% { transform: translateX(0px); }
} 


.guvi-card {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  border-radius: 14px;
  padding: 40px;
  width: 430px;
  color: #fff !important;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.45);

  animation: guviZoomIn 0.8s ease-out, guviFadeIn 1.2s ease-in-out;
}


.guvi-card h2, 
.guvi-card h3 {
  font-weight: 700;
  margin-bottom: 10px;
  animation: guviSlideDown 0.9s ease;
}


.guvi-card p {
  opacity: 0.9;
  animation: guviFadeUp 1s ease;
}

.guvi-btn:hover {
  transform: translateY(-3px);
  transition: all 0.25s ease;
}

@keyframes guviFadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes guviZoomIn {
  0% { transform: scale(0.85); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes guviSlideDown {
  0% { transform: translateY(-20px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes guviFadeUp {
  0% { transform: translateY(10px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
